/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* sliders*/
.cat-cards {
  display: flex;
}
#sliders{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  
}
.card img{
  height: 180px;
}
.category{
  margin-top: 20px;
  margin-left: 20px;
  background-color: #fff;
}
h5{
  margin: 0 0;
}

nav ul a {
  color: rgb(255, 255, 255);
}
body{
  background-color: #f2f2f2;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


/* Hide the images by default */
.mySlides {
  display: none;
}
.container {
  /*margin-top: 20px;*/ 
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
#logo{
  margin-left: 10px;
}
